<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Manufacturer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<h2>Add Manufacturer</h2>

<form th:action="@{/addmanufacturer}" th:object="${manufacturer}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
    <label for="description">Country:</label>
    <input type="text" class="form-control" th:field="*{country}">
    <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
    <label for="type">Business ID:</label>
    <input type="text" class="form-control" th:field="*{businessid}">
    <div th:if="${#fields.hasErrors('businessid')}" th:errors="*{businessid}" class="alert alert-danger"></div>
    </div>
    <button class="btn btn-success" type="submit">Add Manufacturer</button>
</form>

<a class="btn btn-danger" href="/productlist">Cancel</a>

</body>
</html>