<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<h2>Add Product</h2>

<form th:action="@{/addproduct}" th:object="${product}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></div>
    </div>
    <div style="clear: both; display: block; height: 10px;"></div>		
        <label for="type">Type:</label>
            <select id="type" th:field="*{type}" class="form-control">
                <option th:each="type: ${types}" th:value="${type.id}" th:text="${type.type_name}"></option>
            </select>
    <div style="clear: both; display: block; height: 10px;"></div>
    <div class="form-group">
    <label for="color">Color:</label>
    <input type="text" class="form-control" th:field="*{color}">
    <div th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
    <label for="size">Size:</label>
    <input type="text" class="form-control" th:field="*{size}">
    <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" step="0.01" class="form-control" th:field="*{price}">
    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger"></div>
    </div>
    <div class="form-group">
        <label for="units_in_stock">Units_in_stock:</label>
        <input type="number" class="form-control" th:field="*{units_in_stock}">
        <div th:if="${#fields.hasErrors('units_in_stock')}" th:errors="*{units_in_stock}" class="alert alert-danger"></div>
        </div>
    <div style="clear: both; display: block; height: 10px;"></div>		
        <label for="manufacturer">Manufacturer:</label>
            <select id="manufacturer" th:field="*{manufacturer}" class="form-control">
                <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
            </select>
    <div style="clear: both; display: block; height: 10px;"></div>
    <br>

    <button class="btn btn-success" type="submit">Add Product</button>
</form>

<button class="btn btn-danger" onclick="window.location.href='/productlist'">Cancel</button>


</body>
</html>