<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dog Store</a>
            <div>
                <a th:unless="!${#authorization.expression('isAuthenticated()')}" class="btn btn-light" href="/logout">Logout</a>
                <a th:unless="${#authorization.expression('isAuthenticated()')}" class="btn btn-light" href="/login">Login</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid h-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Dog Store</h1>
        <div class="d-flex flex-column">
            <a class="btn btn-light" href="https://k24-OP1-Tiimi2.github.io/k24Tiimi2Frontend/">Webstore</a>
            <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="btn btn-light" href="/productlist">Products</a>
            <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="btn btn-light" href="/manufacturerlist">Manufacturers</a>
            <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="btn btn-light" href="/orderlist">Orders</a>
        </div>
    </div>
</body>
</html>
