<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<h2>Edit Product</h2>
<div>
<form th:object="${manufacturer}" th:action="@{../addmanufacturer}" action = "#" method="post" >
    <input type="hidden" th:field="*{id}" readonly="readonly">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/>

    <label>Country:</label>
    <input type="text" th:field="*{country}" required/><br/>

    <label>Business ID:</label>
    <input type="text" th:field="*{businessid}" required/><br/>


<input type="submit" value="Save Manufacturer"></input>


<button onclick="window.location.href='/manufacturerlist'">Back to the manufacturerlist</button>


</form>
</div>
</body>
</html>