<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Manufacturer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<h2>Edit Manufacturer</h2>
<div>
<form th:object="${manufacturer}" th:action="@{../addmanufacturer}" action = "#" method="post" >
    <input type="hidden" th:field="*{id}" readonly="readonly">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/>
<br />
<input class="btn btn-success" type="submit" value="Save Manufacturer"></input>


<button class="btn btn-danger" onclick="window.location.href='/manufacturerlist'">Cancel</button>


</form>
</div>
</body>
</html>