<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>

    <header>
        <h1>ProductList</h1>
    </header>
    <form th:action="@{/searchproducts}" method="get">
        <div class="form-group">
            <label for="search">Search Products:</label>
            <input type="text" id="search" class="form-control" name="searchTerm" aria-label="Search Bar" required>
        </div>
        <div class="form-group">
            <label for="searchBy">Search By:</label>
            <select class="form-control" id="searchBy" name="searchBy">
                <option value="all">All</option>
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="type">Type</option>
                <option value="color">Color</option>
                <option value="size">Size</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="/productlist" class="btn btn-secondary">Reset</a>
    </form>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Color</th>
            <th>Size</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.type.type_name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.manufacturer.name}"></td>
            <td><a class="btn btn-danger" th:href="@{/deleteproduct/{id}(id = ${product.id})}" onClick="return confirm('Are you sure you want to delete this product?')">Delete</a></td>
            <td><a class="btn btn-primary" th:href="@{/editproduct/{id}(id = ${product.id})}">Edit</a></td>
        </tr>
    </table>

    <a class="btn btn-success" th:href="@{/addproduct}">Add Product</a>
    <a class="btn btn-primary" href="/dogstore">Main page</a>


</body>

</html>